/* Home Hero Page */
.hero{
    background-image: url("../assets/home-background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 100px 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}
.hero h1{
    color: var(--SEC-white);
}
.hero p{
    color: var(--SEC-white);
    font-size: 24px;
}
.hero-link-button:hover{
    background-color: var(--PR-white);
    color: var(--PR-black);
    transition: 0.5s;
}
.hero-link-button{
    color: var(--SEC-white);
    text-align: center;
    font-size: 20px;
    padding: 25px;
    background-color: transparent;
    border: 2px solid var(--PR-white);
    cursor: pointer;
}

/* categories page */

.categories{
    margin: 100px 156px;
    display: flex;
    flex-direction: column;
}
.categories-top{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 40px;
}
.categories-top h1{
    font-family: "Playfair Display", serif;
    padding-bottom: 20px;
}
.categories-top p{
    font-size: 24px;
}
.categories-showImages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.categories-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.categories-link img{
    width: 163px;
    height: 158px;
}
.categories-link h4{
    color: var(--PR-black);
}
.categories-link:hover{
    transform: translateY(-30px);
    transition: 0.5s;
}

/* features */
.features{
    display: flex;
    margin-top: 200px;
    gap: 20px;
    margin-bottom: 100px;
}
.features-main-image{
    width: 60%;
    height: 100vh;
}
.features-main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature-grid{
    display: grid;
    width: 40%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-grid-content{
    background-color: #eeedeb;
}
.grid-one, .grid-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-one img{
    width: 214px;
    height: 183px;
    margin-bottom: 20px;
}
.grid-one h4{
    color: var(--PR-black);
}
.grid-two img{
    width: 234px;
    height: 176px;
}
.grid-two h4{
    color: var(--PR-black);
}
.grid-three{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.grid-three span{
    font-size: 20px;
}
.shoe-grid-flex h4{
    margin: 30px 0px;
}
.feature-link-button{
    color: var(--SEC-white);
    background-color: var(--PR-black);
    padding: 15px;
}
/* new arrivals */
.new-arrival{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0px 40px 80px;
}

.new-arrival h1{
    text-align: center;
}
.new-arrival p{
    text-align: center;
    margin: 20px 0px 40px 0px;
}
.arrows{
    margin-bottom: 20px;
    position: absolute;
    right: 30px;
    top: 100px;

}
.arrows i{
    font-size: 30px;
    cursor: pointer;
}

.link-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link-collection img{
    width: 326px;
    height: 432px;
    padding: 20px 0px;
}
.link-collection p{
    text-align: center;
    color: var(--PR-black);
}
/* banner */
.banner{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 50px 156px;
}
.banner-image-one{
    width: 424px;
    height: 544px;
}
.banner-image-one img{
    width: 100%;
    height: 100%;
}
.banner-flex-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.banner-image-two{
    width: 316px;
    height: 200px;
}
.banner-image-two img{
    width: 100%;
    height: 100%;
}
.banner-image-three{
    width: 316px;
    height: 339px;
}
.banner-image-three img{
    width: 100%;
    height: 100%;
}
/* hot */
.hot{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0px 40px 80px;
}

.hot h1{
    text-align: center;
}
.hot p{
    text-align: center;
    margin: 20px 0px 40px 0px;
}
.arrows{
    margin-bottom: 20px;
    position: absolute;
    right: 30px;
    top: 100px;

}
.arrows i{
    font-size: 30px;
    cursor: pointer;
}

/* main banner */
.main-Banner{
    background-image: url("../assets/main-banner.png");
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.main-Banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main-Banner p{
    color: var(--SEC-white);
    font-size: 24px;
}
.main-Banner h1{
    color: var(--PR-white);
    letter-spacing: 10px;
}
/* latest collection */
.collections{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0px 40px 80px;
}
.collections h1{
    text-align: center;
}
.collections p{
    text-align: center;
    margin: 20px 0px 40px 0px;
}
.link-image{
    width: 326px;
    height: 432px;
    position: relative;
}
.link-image img{
    width: 100%;
    height: 100%;
}
.image-content{
    position: absolute;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgba(255,0,0,0));
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    padding: 20px 10px;
}
.image-content h5{
    color: var(--PR-black);
}
.collection-image-button{
    font-size: 20px;
    color: var(--PR-black);
    padding: 5px;
    background-color: var(--PR-white);
}

/* news letter */
.newsletter{
    background-image: url('../assets/newsletter.png');
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* newsletter */
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.newsletter h1{
    color: var(--PR-white);
    text-align: center;
    margin-bottom: 20px;
}
.newsletter-input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter-input input{
    width: 300px;
    height: 58px;
    background-color: transparent;
    border:  1px solid var(--PR-white);
    outline: none;
    padding: 20px;
    color: var(--PR-white);
}
.newsletter-input input::placeholder{
    color: var(--PR-white);
}
.newsletter-input button{
    width: 132px;
    height: 58px;
    cursor: pointer;
    border: 1px solid var(--PR-white);
    cursor: pointer;
}
/* single blog */
.single-blog-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 156px;
}
.single-blog-post h1{
    text-align: center;
    margin-bottom: 20px;
}
.sub-title{
    color: var(--SEC-black);
    margin-bottom: 20px;
}
.single-blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.single-blog-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--SEC-black);
    padding: 10px;
}
.singl-blog-image-container{
    width: 294px;
    height: 456px;
}
.singl-blog-image-container img{
    width: 100%;
    height: 100%;
}
.single-blog-details{
    color: var(--SEC-black);
    width: 294px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.single-blog-title{
    color: var(--PR-black);
    margin-top: 10px;
}
.readmore{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    color: var(--Accent);
}
.readmore:hover{
    color: var(--PR-black);
}
.readmore i{
    font-size: 20px;
}

/* Responsiveness */
@media (max-width:1024px) {
    /* categories */
    .categories{
        margin: 100px 40px;
    }
    /* features */
    .features{
        flex-direction: column-reverse;
        gap: 40px;
    }
    .features-main-image{
        width: 100%;
    }
    .feature-grid{
        width: 100%;
        height: 800px;
    }
    .features-grid-content{
        font-size: 28px;
    }
    .categories-link h4{
        font-size: 24px;
    }
    /* new arrival */
    .new-arrival p{
        font-size: 20px;
    }
    .link-collection img{
        width: 216px;
        height: 388px;
    }
    /* hot right now */
    .hot p{
        font-size: 20px;
    }
    /* new collectons */
    .collections p{
        font-size: 20px;
    }
    .link-image{
        width: 100%;
        height: 388px;
        position: relative;
    }
    /* single blog post */
    .single-blog-post p{
        font-size: 20px;
    }
    
    
}
@media (max-width:820px) {
    /* hero */
    .hero{
        padding: 100px 10px;
    }
    /* single blog post */
    .single-blog-post{
        margin: 20px 10px;
    }
    /* banner */
    .banner{
        margin: 50px 10px;
    }
}
@media (max-width:440px) {
    .hero h1{
        font-size: 24px;
    }
    .hero p{
        font-size: 20px;
    }
    .hero-link-button{
        font-size: 20px;
        padding: 20px;
    }
    /* feature */
    .feature-grid{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .grid-three{
        flex-direction: column;
        gap: 10px;
    }
    .arrows{
        top: 140px;
    }
    .link-collection img{
        width: 100%;
    }
    /* Banner */
    .banner{
        margin: 50px 10px;
        flex-direction: column;
    }
    .banner-image-two{
        width: 420px;
        object-fit: cover;
    }
    .banner-image-three{
        width: 100%;
    }
    .newsletter-input input{
        width: 200px;
        padding: 10px;
        font-size: 18px;
    }
    .newsletter-input button{
        font-size: 18px;
    }
    .sub-title{
        text-align: center;
    }
}
@media (max-width:391px) {
    .collection-arrows{
        top: 200px;
    }
}

