.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid var(--SEC-white);
    box-shadow: 0 30px 30px -20px rgba(50, 50, 93, 0.23);
}
.link-logo img{
    width: 100px;
    height: 39px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header-list ul{
    display: flex;
    align-items: center;
    gap: 60px;
}
.header-list li{
    list-style: none;
    font-size: 700;
    color: white;
}
.header-link{
    color: var(--SEC-white);
    font-size: 24px;
    position: relative;
}
.header-link::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--SEC-white);
}
.header-link:hover::before{
    width: 100%;
    transition: 0.3s;
}
.header-icons{
    display: flex;
    gap: 30px;
}
.header-icons button{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 24px;
    color: var(--SEC-white);
    cursor: pointer;
    position: relative;
}
.header-icons button::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--SEC-white);
}
.header-icons button:hover::before{
    width: 80%;
    transition: 0.3s;
}
.header-icons sup{
    display: inline-block;
    background-color: var(--Accent);
    color: var(--PR-white);
    font-size: 12px;
    text-align: center;
    padding: 0px 2px;
    border-radius: 50%;
}
.header-backgrpund-set{
    background-color: var(--PR-black);
}
.menu-toggle{
    display: none;
}
.menu-icon{
    display: none;
}



/* Responsiveness */

@media (max-width:1024px) {
    .header{
        padding: 10px 40px;
        
    }
}
@media (max-width:820px) {
    .header{
        padding: 10px 10px;
        
    }
    .menu-toggle{
        position: fixed;
        background: linear-gradient(240deg, #363232 10%, #636361 39%, #454541 70%);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 180px;
        width: 60%;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .menu-toggle-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .menu-toggle-list li{
        list-style: none;
        font-size: 24px;
        font-weight: 700;
    }
    .header-link-two{
        color: var(--PR-white);
    }
    .header-list{
        display: none;
    }
    .menu-icon{
        display: flex;
        cursor: pointer;
    }
    .menu-icon i{
        background-color: transparent;
        font-size: 24px;
        border: none;
        color: var(--PR-white);
    }
}